.create-plan-intro {
}

.create-plan-wrapper {
  margin-bottom: 164px;
  padding-top: 134px;
  padding-left: 85px;
  padding-bottom: 134px;
  background-image: url(../images/create-plan-page/create-plan-intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 10px;
}

.create-plan__heading {
  margin: 0;
  margin-bottom: 32px;
  font-family: Fraunces, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.create-plan__paragraph {
  width: 100%;
  max-width: 445px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .create-plan-wrapper {
    background-image: url(../images/create-plan-page/create-plan-intro@2x.jpg);
  }
}

@media only screen and (max-width: 768px) {
  .create-plan-wrapper {
    margin-bottom: 125px;
    padding-top: 127px;
    padding-left: 58px;
    padding-bottom: 126px;
  }

  .create-plan__heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 48px;
  }

  .create-plan__paragraph {
    max-width: 398px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 526px) {
  .create-plan-wrapper {
    margin-bottom: 120px;
    padding-top: 101px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
  }

  .create-plan__heading {
    margin-bottom: 22px;
    font-size: 40px;
    line-height: 40px;
  }

  .create-plan__paragraph {
    max-width: 526px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 357px) {
  .create-plan__heading {
    font-size: 28px;
    line-height: 28px;
  }
}
